.main {
  height: 100vh;
  background-color: #cce2a3;
}

.mainTitle {
  font-size: 50px;
  text-align: center;
  color: #db5a42;
}

.frames {
  text-align: center;
  height: 300px;
  background-color: #6689a1;
  color: #fff;
}

.textFrames {
  height: 50%;
}

.middleRow {
  height: 200px;
}

.subPar {
  text-align: center;
}
